/*#endregion*/
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    /*    position: absolute;
         size of bullet elment 
        width: 16px;
        height: 16px;
        background: url('../img/b05.png') no-repeat;
        overflow: hidden;
        cursor: pointer;*/
}

.jssorb05 div {
    background-position: -7px -7px;
}

.jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -37px -7px;
}

.jssorb05 .av {
    background-position: -67px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -97px -7px;
}

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../images/front/a22.png') center center no-repeat;
    overflow: hidden;
}

.jssora22l {
    background-position: -10px -31px;
}

.jssora22r {
    background-position: -70px -31px;
}

.jssora22l:hover {
    background-position: -130px -31px;
}

.jssora22r:hover {
    background-position: -190px -31px;
}

.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}

.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}
.for_rent_tag{height: 85px;
              position: absolute;
              right: 0;
              top: -4px;}

.desc-heading {
    font-size: 15px;
    font-weight: 900;
    float: left;
}

/*  For rent and sale tage*/
.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background: #2d3e52 ;
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #0a1b2f;   
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}
/*
HEADER
*/
.navbar-fixed-top{display: block;}
.navbar {
    background: rgba(45,62,82,1);
    background: -moz-linear-gradient(top, rgba(45,62,82,1) 0%, rgba(72,96,120,1) 53%, rgba(45,62,82,1) 57%, rgba(45,62,82,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,62,82,1)), color-stop(53%, rgba(72,96,120,1)), color-stop(57%, rgba(45,62,82,1)), color-stop(100%, rgba(45,62,82,1)));
    background: -webkit-linear-gradient(top, rgba(45,62,82,1) 0%, rgba(72,96,120,1) 53%, rgba(45,62,82,1) 57%, rgba(45,62,82,1) 100%);
    background: -o-linear-gradient(top, rgba(45,62,82,1) 0%, rgba(72,96,120,1) 53%, rgba(45,62,82,1) 57%, rgba(45,62,82,1) 100%);
    background: -ms-linear-gradient(top, rgba(45,62,82,1) 0%, rgba(72,96,120,1) 53%, rgba(45,62,82,1) 57%, rgba(45,62,82,1) 100%);
    background: linear-gradient(to bottom, rgba(45,62,82,1) 0%, rgba(72,96,120,1) 53%, rgba(45,62,82,1) 57%, rgba(45,62,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3e52', endColorstr='#2d3e52', GradientType=0 );

    background-size: 100% auto;
    border: medium none;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.01), 0 4px 0 0 rgba(0, 0, 0, 0.02), 0 3px 0 0 rgba(0, 0, 0, 0.04), 0 2px 0 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.08), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 1px 0 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    left: auto;
    right: auto;
    width: 100%;
}
#logo {
    margin-top: 4px;
    text-align: center;
}
#top-arrow {
    padding-bottom: 13px;
    padding-top: 17px;
}
.navbar .sb-toggle-left {
    float: left;
    padding: 14px;
    width: 58px;
}
.navbar .sb-toggle-right {
    float: right;
    padding: 14px;
    width: 58px;
}
.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
    cursor: pointer;
}
.sb-right {
    margin-top: 50px;
}
.navicon-line {
    background-color: #fff;
    border-radius: 1px;
    height: 4px;
    margin-bottom: 3px;
    width: 24px;
}
ul.navbar-nav {
    display: none;
}
footer {
    margin-top: 30px;
}
.sb-slidebar {
    background-color: #2d3e52;
}
.sb-slidebar {
    background-color: #2d3e52;
    color: #e8e8e8;
}
.sb-slidebar a {
    color: #ff3971;
    text-decoration: none;
}
.sb-slidebar a:hover {
    color: #e83165;
    text-decoration: underline;
}
.sb-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sb-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
    width: 100%;
}
.sb-menu > li:first-child {
    border-top: medium none;
}
.sb-menu > li:last-child {
    border-bottom: medium none;
}
.sb-menu li a {
    color: #f2f2f2;
    display: inline-block;
    padding: 1em;
    width: 100%;
}
.sb-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
}
.sb-left .sb-menu li a {
    border-left: 3px solid transparent;
}
.sb-left .sb-menu li a:hover {
    border-left: 3px solid;
}
.sb-right .sb-menu li a {
    border-right: 3px solid transparent;
}
.sb-right .sb-menu li a:hover {
    border-right: 3px solid;
}
.sb-menu li .sb-open-right, .sb-menu li small {
    display: inline-block;
    padding: 14px;
}
.sb-menu li img {
    margin: 14px;
}
aside#about-me {
    padding: 14px;
}
img.img-me {
    border: 4px solid #fff;
    margin: 14px auto;
}
.sb-slidebar, .sb-slidebar h3 {
    color: #f0f0f0;
}
.sb-slidebar ul.sb-nav li a {
    color: #dedede;
}
.sb-slidebar ul.sb-nav li a:hover {
    color: #c7c7c7;
    text-decoration: none;
}
.sb-slidebar ul.sb-nav li span:hover {
    color: #c7c7c7;
}
#download, #api, #options, #helper-classes {
    margin-top: -50px;
    padding-top: 50px;
}
.add-bottom-margin {
    margin-bottom: 15px;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.add-top-margin {
    margin-top: 15px;
}
.no-top-margin {
    margin-top: 0;
}
.push-down {
    position: relative;
    top: 2px;
}
@media (min-width: 768px) {
    ul.navbar-nav {
        display: block;
    }
    #logo {
        text-align: left;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
#bisma {
    margin: 50px 0;
}
#bisma h2 {
    color: #f71756;
    font-weight: 300;
}
#bisma p {
    color: #646a73;
    font-size: 15px;
    font-weight: 300;
}
#bisma p.lead {
    color: #646a73;
    font-size: 24px;
}
.img-responsive-stretch {
    display: block;
    height: auto;
    width: 100%;
}
/*
HEADER
*/
#mySlider {
    width: 100%;;
    height: 400px;
    margin: auto; /* for center alignment */
}
#mySlider .mini-images li {
    width: 100px;
    height: 50px;
}

/* for tablet */
@media screen and (max-width: 980px) {
    #mySlider {
        width: 100%;
        height: 450px;
    }
}
/* for mobile */
@media screen and (max-width: 640px) {
    .listing-style1{width: 100%;}
    #mySlider {
        width: 100%;
        height: 250px;
    }
}

.easy-autocomplete{width: 100%;}
.copyright{float: right;margin-top: 18px;}